.env
scripts/serviceAccountKey.json
firebase.json
firestore.rules


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs/ProjectSettings.json
.vs/simsn-interface-v2/CopilotIndices/17.14.1147.5054/CodeChunks.db
.vs/simsn-interface-v2/CopilotIndices/17.14.1147.5054/SemanticSymbols.db
.vs/simsn-interface-v2/FileContentIndex/fbec0fda-6c8f-4cf2-ba4e-7a2f52697019.vsidx
.vs/simsn-interface-v2/v17/.wsuo
.vs/simsn-interface-v2/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
